* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smoothf;
}

.navbar {
    background: #131313;
    padding: 1rem 8rem;
    z-index: 999;
}

.navbar .navbar-brand {
    font-size: 1.7rem;
    font-weight: 700;
}
#navbarSupportedContent>ul>li:nth-child(n)>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent>ul>li:nth-child(n)>a:hover,
#navbarSupportedContent>ul>li:nth-child(n)>a:active {
    color: #00BF85;
}

#navbarSupportedContent>button {
    background: #00BF85;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

.mid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mid video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.mid .hero{
    position: relative;
}
.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;;
}
.mid .hero a{
    background: #00BF85;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}
.mid .hero a:hover{
    background: #fff;
}
.about{
    background: #000
    ;
}
.about .about-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.about .about-text h6{
    color: #00BF85;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
}
.about .about-text h1{
    color: #F7F5F4;
    font-size: 2.7rem;
    font-weight: 700;
}
.about .about-text p{
    color: #F7F5F4;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.about .about-text a{
    background: #00BF85;
    font-weight: 600;
    color: #111;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
/* ###### discovery ####### */
.discovery{
    background: #fff;
}
.discovery .discovery-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.discovery .discovery-text h6{
    color: #00BF85;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
}
.discovery .discovery-text h1{
    color: #111;
    font-size: 2.7rem;
    font-weight: 700;
}
.discovery .discovery-text p{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.discovery .discovery-text a{
    background: #111;
    font-weight: 500;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
.services{
    background-color: #000;
}
.services .one{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 2rem 1.5rem;
    text-align: center;
}
/* ########### sign ########### */
.sign{
    background: #fff
    ;
}
.sign .sign-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.sign .sign-text h6{
    color: #00BF85;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
}
.sign .sign-text h1{
    color: #111;
    font-size: 2.7rem;
    font-weight: 700;
}
.sign .sign-text p{
    color: #111;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.sign .sign-text a{
    background: #131313;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
footer{
    background-color: #000;
}
footer .text-center{
    color: #fff;
}
footer .row .btn{
    background: #00BF85;
    font-weight: 600;
    padding: 0.3rem 1.1rem;
    border-radius: 30px;
    text-decoration: none;
}
/* ########### mobile media query ################ */
@media (max-width: 477px){
    .navbar{
        padding: 0.5rem 2rem;
    }
}